body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  background-color: green;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 900;
  padding: 20px;
  margin-bottom: 2vh;
}

section.main {
  & div {
    &.call {
      display: flex;
      justify-content: center;
      margin: 30px 10px 10px;

      a {
        text-decoration: none;
      }

      .btn {
        border-radius: 10px;
        width: 300px;
        line-height: 1.4;
        font-weight: 400;
        font-size: x-large;
      }
    }

    &.info {
      margin-top: 50px;
      padding: 0 3vh;
    }
  }
}

ul {
  li {
    text-align: left;
  }
}

p {
  font-size: 3vh;
}

a:-webkit-any-link {
  color: white;
}

.review {
  width: 20rem;
}

.embla {
  max-width: 20rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;

  margin: 3rem auto 2rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);

  .review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .review-text {
    padding: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
  }

  .review-info {
    font-size: small;
  }

  .medium {
    font-size: medium;
  }

  .large {
    font-size: large;
  }

  .xlarge {
    font-size: x-large;
  }

  .xxlarge {
    font-size: xx-large;
  }
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
